<h3 class="text-center"><u>Add A Note</u></h3>
{{> messages }}
<div class="new-container text-left mt-3">
  <form class="add-items" action="/todos" method="POST">
    <input type="text" name="name" placeholder="Title">

    <hr>

    <div class="form-group form-row">
      <div>
        <textarea type="text" name="note" class="form-control" id="note" placeholder="Note here! (optional)" cols="40"
          rows="6"></textarea>
      </div>
    </div>

    <button type="submit" class="btn btn-block btn-primary">Create</button>
  </form>
</div>